body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.register-container {
  display: flex;
  height: 100vh;
}

.register-image-section {
  width: 70%;
  max-height: 1024px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.register-image-section img {
  width: 100%;
  height: auto;
  max-height: 1024px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.register-form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.register-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.logo-Quiz-BiH {
  width: 99px;
  height: 31px;
  display: flex;
  background-image: url(photos/Quiz\ BiH.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}

.register-paragraph {
  font-size: 14px;
  margin-bottom: 30px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.register-input {
  border: 0px;
  border-bottom: 1px solid gray;
  width: 350px;
  padding: 10px;
  font-size: 16px;
}

.register-input:focus {
  outline: none;
  border-bottom: 2px solid #007bff;
}

.register-submit-button {
  background-color: #2559d2;
  width: 360px;
  font-size: 16px;
  color: white;
  border: none;
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.register-link-text {
  display: flex;
}

.register-link-text p:last-child {
  margin-left: 15px;
}

.register-link {
  color: #4285f4;
  text-decoration: none;
}